*,
    *::after,
    *::before {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    
body {
      display: flex;
      flex-direction: column;
    }

header {
  background-image: url(/fotos/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;

  width: auto; 
  height: 25vh;
  box-sizing: border-box;
}

main {
      
    }

    header nav ul{
      display: flex;
      Flex-flow: row-reverse wrap; 
      Align-items: flex-end;
      list-style-type: none;
    }
    header nav ul li{
        margin-left: 1vh;
    }